/*? body style */
body {
  margin: 0;
  padding: 50px;
  background-color: #fcd2c5;
  font-family: poppins, sans-serif;
}

.main_container {
  display: flex;
  flex-wrap: wrap; /* Allows responsive behavior */
  background-color: white;
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #586158;
}

/*? section "A"style */
.section_a {
  background-color: #585123;
  color: #f5f5f5;
  text-align: center;
  padding: 20px;
  width: 35%;
  min-width: 300px; /* Ensures a minimum width for smaller screens */
  border-right: solid 4px #772f1a;
  box-sizing: border-box;
  border-radius: 10px;
}

.section_b {
  background-color: #f2a65a;
  color: #f5f5f5;
  text-align: center;
  padding: 20px;
  width: 65%;
  min-width: 300px;
  box-sizing: border-box;
  border-radius: 10px;
}

.profile_photo {
  width: 200px;
  border-radius: 50%;
  margin-top: 10%;
  margin-bottom: 20px;
  border: solid 3px #772f1a;
   box-shadow: 0px 0px 10px #f1eded;
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
  margin: 10px 0;
  text-align: center;
}

h3 {
  font-size: 24px;
  padding: 2%;
  margin: 20px 0 10px;
  color: black;
  border-radius: 8px;
 box-shadow: 0px 0px 10px #2b2727;
  background-color: #585123;
  color: #fffffd;
  text-align: left;

}
p{
  text-align: left;
}
ul {
  list-style-type: fill-square;
  padding: 10;
  margin: 10px 0;
  text-align: left;
}

ul li {
  margin: 5px 0;
}

button {
  font-family: poppins, sans-serif;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #2b2727;
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
  background-color: #772f1a;
  color: #f5f5f5;
}

button:hover {
  background-color: #f58549;
}

/*? Responsive adjustments */
@media (max-width: 768px) {
  .main_container {
    flex-direction: column; /* Stack sections on smaller screens */
  }

  .section_a,
  .section_b {
    width: 100%; /* Full width for each section */
    border-right: none;
    padding: 15px;
  }

  .profile_photo {
    width: 150px;
  }

 
  button {
    font-size: 16px;
  }
}
